{% extends "navbar_fixed_base.html" %}

{% block content %}
	<h1>Admin Pane Bitch !!!</h1>
	
	<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Create Mall</h2>
        <p>
          <a class="btn btn-lg btn-primary" href="/createMall" role="button">Create &raquo;</a>
        </p>
      </div>
    <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Manage Malls</h2>
        <p>
          <a class="btn btn-lg btn-primary" href="/manageMalls" role="button">Manage &raquo;</a>
        </p>
      </div>
{% endblock %} 