<div class="form-control">
        	<div>
        		<div style="display:inline-block; width:50%">
	        		<label>Cloths</label>
	        		<input type="checkbox" name="category">
	        	</div>
	        	<div style="display:inline; width:50%">
	        		<label>Food</label>
	        		<input type="checkbox" name="category">
	        	</div>
        	</div>
        	<div>
        		<div style="display:inline; width:50%">
	        		<label>Electronics</label>
	        		<input type="checkbox" name="category">
	        	</div>
	        	<div style="display:inline; width:50%">
	        		<label>Others</label>
	        		<input type="checkbox" name="category">
	        	</div>
        	</div>
        	<div>
        		<div style="display:inline-block; width:50%">
	        		<label>Footwear</label>
	        		<input type="checkbox" name="category">
	        	</div>
	        	<div style="display:inline; width:50%">
	        		<label>Entertainment</label>
	        		<input type="checkbox" name="category">
	        	</div>
        	</div>
        	<div>
        		<div style="display:inline-block; width:50%">
	        		<label>Jewellery</label>
	        		<input type="checkbox" name="category">
	        	</div>
	        	<div style="display:inline; width:50%">
	        		<label>Accessories</label>
	        		<input type="checkbox" name="category">
	        	</div>
        	</div>
        	<div>
        		<div style="display:inline-block; width:50%">
	        		<label>Sports</label>
	        		<input type="checkbox" name="category">
	        	</div>
	        	<div style="display:inline; width:50%">
	        		<label>Gifts</label>
	        		<input type="checkbox" name="category">
	        	</div>
        	</div>
        	<div>
        		<div style="display:inline-block; width:50%">
	        		<label>Books</label>
	        		<input type="checkbox" name="category">
	        	</div>
	        	<div style="display:inline; width:50%">
	        		<label>Others</label>
	        		<input type="checkbox" name="category">
	        	</div>
        	</div>
        </div>
        